%nav.navbar.navbad-default
  .container-fluid
    %ul.nav.navbar-nav
      %li
        =link_to "На сайт", root_path
      %li
        =link_to "Новости", index_admin_news_index_path
      %li
        =link_to "Причины", index_admin_reasons_path
      %li
        =link_to "Статистика", stats_path