-cache do
  %nav.navbar.navbad-default
    .container-fluid
      %ul.nav.navbar-nav
        %li
          =link_to "На сайт", root_path
        %li
          =link_to "Новости", news_index_path
        %li
          =link_to "Причины", reasons_path
        %li
          =link_to "Статистика", stats_path