-#-cache do
#authors_container
  .container-fluid
    .row
      =author("authors/fyodor.jpg", "Фёдор Иванищев", "http://vk.com/cbrwizard", "Разработка и борода")
      =author("authors/kostya.jpg", "Константин Сабицкий", "http://vk.com/c.sabitsky", "Продвижение и единороги")
      =author("authors/dima.jpg", "Дмитрий Киселёв", "http://vk.com/finkostiel", "Дизайн и бургеры")