-cache do
  #authors_container
    .container-fluid
      .row
        %p.about_text
          Сайт разработал
          =link_to("Фёдор", "http://vk.com/cbrwizard") + ", дизайн сделал " + link_to("Дима", "http://vk.com/finkostiel") + ", поддержку оказывал " + link_to("Костя", "http://vk.com/c.sabitsky") + '.'