-cache do
  #donate_container
    %p.about_text
      Мы бы сами не против свалить! Но мы - бедные студенты, поэтому нам приходится выживать в суровых российских реалиях. Понимаете нас? Выручайте! [:
    #donate_btn_container
      #donate_btn
        .heart
        .arrow-right
        %p
          ДОНАТЕ
      #donate_plugins
        = render :partial => 'pages/about/ya_money'
        = render :partial => 'pages/about/paypal'