#donate_container
  %p
    По правде говоря, мы бы сами не против свалить. Но мы - бедные студенты, поэтому нам приходится выживать в суровых российских реалиях. Понимаете нас? Помогите, чем можете!
  #donate_btn_container
    %button#donate_btn.btn.btn-success.btn-lg
      ДОНАТЕ