-cache do
  #donate_container
    %p.about_text
      Ой, всё!
    #donate_btn_container
      #donate_btn
        .heart
        .arrow-right
        %p
          ДОНАТЕ
      #donate_plugins
        = render 'pages/about/ya_money'
        = render 'pages/about/paypal'