#explain_container
  %p.about_text
    Мы за равенство, любовь и щедрость. Поэтому код рашки
    =link_to "выложен", "https://github.com/cbrwizard/rashka", :target => '_blank'
    в открытый доступ. Ниже приведен скучный текст, цель которого - сделать так, чтобы нас не посадили и не убили.
  = render :partial => 'pages/about/license_container'