#explain_container
  %p.about_text
    Мы за равенство, любовь и открытый код. Поэтому код этого сайта
    =link_to "выложен", "https://github.com/cbrwizard/rashka", :target => '_blank'
    в открытый доступ Также мы хотим сказать, что этот сайт создан в исключительно "just for lulz" сатиристических целях и не несет в себе призыва предавать или покидать Россию. Ниже приведен текст лицензионного соглашения.
  = render :partial => 'pages/about/license_container'