#explain_container
  %p.about_text
    Сайт создан исключительно в сатиристических целях и не несет в себе посыл занижать достоинства России (которую мы любим, понимаем и прощаем) и её жителей. Ниже приведен текст пользовательского соглашения.
  = render :partial => 'pages/about/license_container'