#license_container
  %p
    Настоящие Правила пользования Сайтом Вали из Рашки (далее – Правила) разработаны Администрацией Сайта и определяют условия использования Сайта, а также права и обязанности его Пользователей и Администрации. Правила распространяются также на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями Сайта, но чьи права и интересы могут быть затронуты в результате действий Пользователей Сайта.

    Сайт Вали из Рашки является исключительно сатиристическим проектом и не ставит своей целью возбуждение ненависти, либо вражды, а также унижение достоинства человека, либо группы лиц по признакам пола, расы, национальности, языка, происхождения, отношения к религии, а равно принадлежности к какой-либо социальной группе.

    Администрация Сайта не пропагандирует экстремистские взгляды и не призывает к свержению государственного строя Российской Федерации какими бы то ни было методами.

    Используя Сайт, Пользователь соглашается с настоящими Правилами и отказывается от всех претензий к информационному наполнению Сайта.

    В случае несогласия Пользователя с настоящими Правилами или их обновлениями, Пользователь обязан отказаться от его использования.