%form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_blank"}
  %input{name: "cmd", type: "hidden", value: "_s-xclick"}/
  %input{name: "hosted_button_id", type: "hidden", value: "ZHMZDF47QK2LS"}/
  %input{alt: "PayPal — более безопасный и легкий способ оплаты через Интернет!", border: "0", name: "submit", src: "https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donate_SM.gif", type: "image"}/