%nav.navbar.navbad-default
  .container-fluid
    %ul.nav.navbar-nav
      %li
        =link_to "На сайт", root_path
      %li
        =link_to "Назад в админку", admin_path
      %li
        =link_to "Список причин", index_admin_reasons_path
      %li
        =link_to "Новая причина", new_reason_path