=render 'menu'

.container-fluid
  .row
    .col-md-10
      %h1
        Все причины:
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th
                Текст
              %th
                Популярность
              %th
                Обновлено
              %th
                удалить
          -@reasons.each do |reason|
            -cache reason do
              %tbody
                %tr
                  %td
                    =reason.text
                  %td
                    =reason.popularity
                  %td
                    =reason.updated_at
                  %td
                    =link_to "редактировать", edit_reason_path(reason.id)
                  %td
                    =link_to "удалить", reason, :data => {confirm: 'Точно удалить? Восстановить никак'}, method: :delete