=render 'menu'

.container-fluid
  .row
    .col-md-10
      %h1
        Все новости:
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th
                Заголовок
              %th
                Текст
              %th
                Ссылка
              %th
                редактировать
              %th
                удалить
          -@news.each do |news|
            -cache news do
              %tbody
                %tr
                  %td
                    =news.title
                  %td
                    =news.text
                  %td
                    =news.link
                  %td
                    =link_to "редактировать", edit_news_path(news.id)
                  %td
                    =link_to "удалить", news, :data => {confirm: 'Точно удалить? Восстановить никак'}, method: :delete