=render 'menu'

.container-fluid
  .row
    .col-xs-12.col-sm-10.col-md-8.col-lg-6
      %h1
        Новость #{params[:id]}
      %p
        %b
          Заголовок:
        =@one_news.title
      %p
        %b
          Текст:
        =@one_news.text
      %p
        %b
          Ссылка:
        =@one_news.link