#about_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
          ×
        %h4#myModalLabel.modal-title
          Что это?
      .modal-body
        = render :partial => 'pages/about/authors_container'
        = render :partial => 'pages/about/donate_container'
        = render :partial => 'pages/about/explain_container'