-#-cache do
#map-canvas
#on_map
  = render :partial => 'about_btn'
  = render :partial => 'evac_btn'
  #popup.visible-xs
    #news_evac
    #tooltips.hidden

-#  TODO: сделать хелперы для хедеров, сделать один нав
#content
  #reasons_content.screen_block.inactive_block
    %header.visible-xs
      =link_to "Н", "#", {class: "prev"}
      =link_to "В", "#", {class: "next"}
      %h1
        Причины
    =modal("reasons_modal") {render :partial => 'reasons/reasons_modal'}

  #news_content.screen_block.inactive_block
    %header.visible-xs
      =link_to "Н", "#", {class: "prev"}
      =link_to "В", "#", {class: "next"}
      %h1
        Новости
    = render :partial => 'news_container'

  #main_content.screen_block.active_block
    %header
      #logo_container.block
        =link_to "Н", "#", {class: "prev"}
        =link_to "В", "#", {class: "next"}
        =image_tag "logo.jpg"
    = render :partial => 'reasons_container'

  #about_content.screen_block.inactive_block
    %header.visible-xs
      =link_to "Н", "#", {class: "prev"}
      =link_to "В", "#", {class: "next"}
      %h1
        О сайте
    =modal("about_modal") {render :partial => 'pages/about/about_modal'}

  =modal("share_modal") {render :partial => 'pages/share/share_modal'}