-cache do
  #brainlook_container{data: {link: "http://brainlook.org/opinions/publish/"}}
    %h3
      Хочешь найти попутчиков?
    .brainlook
    %p
      Опубликуй причину эвакуации в виде мнения на Brainlook! В этой энциклопедии мнений ты узнаешь, что объединяет согласных и не согласных с тобой.