-cache do
  #brainlook{data: {link: "http://brainlook.org/"}}
    %h3
      Хочешь найти единомышленников?
    =image_tag "share/brainlook.svg"
    %p
      Опубликуй причину эвакуации в виде мнения на Brainlook! В этой энциклопедии мнений ты узнаешь, что объединяет согласных и не согласных с тобой.