-cache do
  #create_story
    %p
      Я решил валить из рашки, потому что:
    =text_area_tag "reason","", {id: "reason_field", class: "form-control"}

    #get_random_container.text-center
      =link_to "Подсказать причину", get_random_reasons_path, {:class => "btn btn-info", :remote => true}
