-cache do
  #create_story
    %h3
      Я валю из рашки, потому что:
    %div
      =text_area_tag "reason","", {id: "reason_field", class: "form-control"}
      %p#reason_text_counter{title: "Сколько осталось символов"}
        80

    #get_random_container
      =link_to (image_tag "reload.svg"), get_one_random_reasons_path, {:remote => true, :title => "Подсказать причину"}