#social_container.text-center
  =social_btn("vk_like_button", "Нравится", "http://vkontakte.ru/share.php?url=")
  =social_btn("fb_like_button", "Лайк", "https://www.facebook.com/sharer/sharer.php?u=")
  =social_btn("tw_like_button", "Ретвит", "https://twitter.com/intent/tweet?source=webclient&original_referer=brainlook.org&url=")
  =social_btn("gp_like_button", "+1", "https://plus.google.com/share?url=")