-cache do
  #social_container.text-center
    =social_btn("share/vk.png", "Рассказать", "vk_post", "http://vkontakte.ru/share.php?url=http://valiizrashki.ru/")
    =social_btn("share/fb.png", "Поделиться", "fb_post", "")
    =social_btn("share/tw.png", "Твитнуть", "tw_post", "https://twitter.com/intent/tweet?source=webclient&url=http://valiizrashki.ru/")