-#-cache do
#social_container.text-center
  =social_btn("vk", "Рассказать", "http://vkontakte.ru/share.php?url=http://valiizrashki.ru/")
  =social_btn("fb", "Поделиться", "")
  =social_btn("tw", "Твитнуть", "https://twitter.com/intent/tweet?url=http://valiizrashki.ru/")