@import "colors"


#about_content
  z-index: 1050

#about_modal
  color: $aboutText

.author_container
  overflow: hidden
  padding: 5px 10px 0
  text-align: center
  img
    width: 125px
    height: 125px
    border-radius: 75px
  h4
    font-family: 'Pancetta Pro'
    font-size: 18px
    margin: 8px 0 2px
    text-transform: uppercase
  p
    font-size: 18px

.author
  padding: 0 0 10px
  cursor: pointer
  overflow: hidden

.about_text
  font-size: 16px

#donate_btn_container
  width: 335px
  text-align: center
  position: relative
  margin: 0 auto
  height: 95px

#donate_btn
  width: 100%
  height: 75px
  line-height: 75px
  position: absolute
  left: 0
  top: 0
  background: $blockBackground
  color: #fff
  font-size: 24px
  font-family: 'Pancetta Pro'
  border-radius: 0
  margin-top: 10px
  p
    margin: 0 auto
  .arrow-right
    width: 45px
    height: 45px
    margin: 15px 10px 0 0
    float: right

.heart
  width: 50px
  height: 50px
  margin: 12px 0 0 15px
  float: left

#donate_plugins
  display: none
  padding: 15px 0 0

#license_container
  height: 100px
  overflow: auto
  border: 4px solid #ADADAD
  padding: 5px
  margin-top: 5px
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif