// Стили инфы о брейнлуке в окошке "рассказать"

@import "colors"

#brainlook
  color: #fff
  cursor: pointer
  padding: 10px
  overflow: hidden
  &:hover
    background: lighten($dark_grey, 10%)
  img
    width: 150px
    height: 150px
    float: left
    margin-right: 10px
  p
    font-size: 18px