// Стили размеров в десктоп версии

@import colors
@import compass

@media screen and (min-width: 769px)

  #on_map
    z-index: 100

  #content
    left: 0!important

  #logo_container
    top: 10px
    height: 60px
    border-left: 4px solid $dark_grey
    z-index: 10

  #reasons_container
    z-index: 6

  .block article, #reasons_pagination article
    +transition(background, .2s)

  #reasons_modal
    .modal-content
      +opacity(.95)
    article
      padding: 6px 0

  .evac_popup
    top: -62px
    left: 20px
    width: 400px
    padding: 8px
    display: none
    .arrow
      width: 40px
      height: 40px

  .evac_icon
    margin: 0 10px 0 5px
    width: 75px
    height: 75px

  .modal-dialog
    max-width: 900px
    width: 60%
    min-width: 500px

  #news_content
    top: 80px

  #reasons_content
    z-index: 1050

  #news_pagination
    height: 250px

  .news_article
    h4
      font-size: 18px
      margin: 0 0 5px
      font-weight: bold

  .scroll-bar.vertical
    height: 250px!important

  .author
    +transition(all, .2s)

  .author_container
    &:hover .author
      +box-shadow(0px 2px 2px 1px rgba(0, 0, 0, 0.5))
      top: -2px