@import "colors"

@media screen and (min-width: 769px)

  #on_map
    z-index: 100

  #content
    left: 0!important

  .block
    margin-bottom: 15px

  #logo_container
    top: 10px
    height: 100px
    border-left: 4px solid $blockBackground
    z-index: 10

  #reasons_container
    z-index: 6

  #evac_btn_container
    button
      height: 140px
      line-height: 135px

  .evac_popup
    top: -75px
    left: 20px
    width: 400px
    padding: 12px 8px
    display: none

  .evac_icon
    margin: 0 15px
    width: 90px
    height: 90px

  .modal-dialog
    max-width: 900px
    width: 60%
    min-width: 500px

  #news_content
    top: 125px

  #news_pagination
    height: 290px
    padding: 45px 0 0 5px

  .news_article
    h4
      font-size: 21px

  .scroll-bar.vertical
    height: 290px!important

  .author_container
    &:hover .author
      box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5)
      position: relative
      top: -2px


  #donate_plugins
    padding: 25px 0 0