@import "colors"


.screen_block
  position: absolute
  left: 10px
  top: 0

.block
  color: #fff
  position: relative
  background: $blockBackground
  opacity: .95
  width: 450px
  h3
    position: absolute
    top: 10px
    left: 12px
    margin: 0
    color: $orange
    font: 24px 'Pancetta Pro'
    span
      background: #252525
      margin-right: 1px
      padding: 4px 3px 0

#logo_container
  background: $orange!important
  img
    max-height: 100%

#about_btn_container
  position: absolute
  top: 0
  right: 10px
  z-index: 5
  img
    cursor: pointer
    position: relative
    top: -10px

#evac_btn_container
  position: absolute
  bottom: 10px
  right: 10px
  z-index: 5
  button
    width: 180px
    font-family: 'Pancetta pro'
    font-size: 24px
    color: #fff
    padding: 0
    position: relative
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5)
    border-radius: 20px
    &:hover
      top: -2px
      box-shadow: 0 3px 1px 1px rgba(0, 0, 0, 0.5)

#evac_btn
  background: $evacButton

#share_btn
  background: $shareButton