@import "colors"

#main_container
  position: absolute
  top: 2%
  left: 1%
  width: 475px
  section
    background: $blockBackground
    color: #fff
    position: relative
    margin-bottom: 15px
    opacity: .95
  h3
    position: absolute
    top: -3px
    left: 22px
    font-size: 14px
    font-family: 'Pancetta Pro'


#logo_container
  height: 100px
  border-left: 4px solid $blockBackground
  background: $scrollThumbColor!important
  img
    max-height: 100px

#about_btn_container
  position: absolute
  top: 2%
  right: 1%
  img
    cursor: pointer
    border: 2px solid #fff

#evac_btn_container
  position: absolute
  bottom: 15px
  right: 15px
  button
    width: 235px
    height: 135px
    font-family: 'Pancetta pro'
    font-size: 32px
    color: #fff
    padding: 0
    line-height: 135px
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5)
    border-radius: 20px

#evac_btn
  background: $evacButton

#share_btn
  background: $shareButton