#main_container
  position: absolute
  top: 2%
  left: 1%
  width: 475px
  section
    background: #282828
    color: #fff
    position: relative
    margin-bottom: 15px
    opacity: .95


#logo_container
  height: 100px
  img
    max-height: 80px

#about_btn_container
  position: absolute
  top: 2%
  right: 1%

#evac_btn_container
  position: absolute
  top: 70%
  right: 10%
