@import "colors"


#map-canvas
  height: 100%

.evac_popup
  background: $blockBackground
  opacity: .95
  width: 400px
  color: #FFF
  padding: 12px 8px
  overflow: hidden
  position: relative
  top: -85px
  left: 40px
  .right, .left
    float: left
  .right
    width: 205px
  h5
    margin: 0
    font-size: 18px
    font-family: 'Pancetta Pro'
  h4
    color: $orange
    font-size: 30px
    word-wrap: break-word
    font-family: 'Pancetta Pro'

.time_to_evac
  color: $shareButton
  font-size: 18px

.evac_icon
  margin: 0 15px
  width: 88px
  height: 89px


.distance
  font-size: 24px
  font-family: 'Pancetta Pro'