// Стили объектов на карте

@import colors
@import compass


#map-canvas
  height: 100%
  z-index: 4

.evac_popup
  background: $dark_grey
  +opacity(.95)
  color: #FFF
  overflow: hidden
  position: relative
  .left
    div
      float: left
  .right, .left
    float: left
  .right
    width: 205px
  h5
    margin: 0
    font-size: 18px
    font-family: 'Pancetta Pro'
  h4
    margin: 2px 0 0
    color: $orange
    font-size: 24px
    word-wrap: break-word
    font-family: 'Pancetta Pro'

.time_to_evac
  color: $green
  font-size: 16px
  line-height: 20px

.distance
  font-size: 24px
  font-family: 'Pancetta Pro'
  line-height: 12px
  margin: 7px 0 0