// Стили размеров около ноутбучных

@import colors
@import compass

@media screen and (min-width: 769px) and (max-width: 1500px)

  .screen_block
    left: 5px

  .block
    width: 375px

  .flip
    span
      width: 15px
      height: 24px
      line-height: 28px
      font-size: 18px

  #reasons_container
    #more_reasons
      padding: 0 5px
      height: 23px
      line-height: 21px

  #reasons_modal
    #reasons_pagination
      .text
        font-size: 16px

  .reload_container
    padding: 35px 0 6px 1px

  #news_pagination
    padding: 35px 0 0 5px

  #evac_btn_container
    button
      height: 75px
      line-height: 75px

  #about_btn_container
    right: 5px