// Стили с размерами для мобилы и её объектами

@import "colors"

@media screen and (max-width: 768px)

  #mobile_nav a
    position: absolute
    top: 5px
    z-index: 10000
    opacity: .9
    &:hover
      opacity: .99
    &.prev
      left: 5px
    &.next
      right: 5px

  #on_map
    position: relative

  .inactive_block
    overflow: hidden
    display: none

  .screen_block
    width: 100%
    >header
      height: 50px
      background: #ECCF5D
      position: relative
      z-index: 100
      padding: 0 35px
      text-align: center
      h1
        margin: 0
        font-family: 'Pancetta Pro'
        font-size: 24px
        line-height: 50px

  #reasons_content
    left: -200%

  #news_content
    left: -100%

  #main_content
    left: 0

  #logo_container
    top: 0

  #about_content
    left: 100%

  .block
    width: 100%

  .infoBox
    display: none!important

  #popup
    position: absolute
    left: 0
    bottom: 85px
    width: 100%
    z-index: 6

  .evac_popup
    padding: 5px
    width: 100%
    min-height: 90px
    .left
      position: absolute
      left: 8px
      top: 8px
    .right
      width: 100%
      padding-left: 60px
    h4
      margin: 2px 0
      font-size: 21px
    h5
      margin: 2px 0 0

  .evac_icon
    width: 50px
    height: 50px

  .news_article
    h4
      font-size: 18px

  #evac_btn_container
    left: 50%
    margin-left: -75px
    bottom: 5px
    button
      height: 75px
      line-height: 70px
      font-size: 21px
      width: 150px

  .modal-dialog
    width: 100%
    margin: 0 auto 95px

  .modal-content
    border: none

  .share_button
    min-width: 50%

  #share_modal
    z-index: 20000

  #brainlook
    img
      width: 100%

  .modal-body
    padding: 10px

  #about_modal, #reasons_modal
    opacity: 1
    p
      font-size: 16px

  .author_container
    padding: 0
    .image_container
      float: left
      img
        width: 100px
        height: 100px
    h4
      margin: 15px 0 0
      font-size: 16px

  .author
    margin: 0 0 10px
    padding: 0 0 5px

  #donate_btn_container
    width: 100%
    max-width: 335px

  #about_modal, #reasons_modal
    display: block!important
    position: relative
    width: 100%
    overflow-y: hidden
    margin: 0 auto
    .modal-dialog
      -webkit-transform: translate(0, 0)
      -ms-transform: translate(0, 0)
      transform: translate(0, 0)
      margin: 0

  .flip,.scroll-bar
    display: none!important

  #news_pagination
    .viewport
      width: 100%!important
      height: 100%!important
      .overview
        position: initial
