@import "colors"

@media screen and (max-width: 768px)

  body
    overflow-x: hidden

  #on_map
    position: relative

  #content
    width: 400%
    left: -200%

  .inactive_block
    overflow: hidden

  .screen_block
    width: 25%
    >header
      height: 50px
      background: #ECCF5D
      position: relative
      z-index: 100
      h1
        margin: 0
      a
        color: #333
        font-size: 24px

  .prev
    float: left

  .next
    float: right

  #reasons_content
    left: 0

  #news_content
    left: 25%

  #main_content
    left: 50%

  #logo_container
    top: 0

  #about_content
    left: 75%

  .block
    width: 100%

  .infoBox
    display: none!important

  #popup
    position: absolute
    left: 0
    bottom: 95px
    width: 100%
    z-index: 6

  .evac_popup
    padding: 5px
    width: 100%
    min-height: 90px
    .left
      position: absolute
      left: 8px
      top: 8px
    .right
      width: 100%
      padding-left: 85px
    h4
      margin: 2px 0
      font-size: 21px
    h5
      margin: 2px 0 0

  .evac_icon
    width: 75px
    height: 75px

  #evac_btn_container
    left: 50%
    margin-left: -75px
    bottom: 10px
    button
      height: 75px
      line-height: 70px
      font-size: 21px
      width: 150px

  .modal-dialog
    width: 100%
    margin: 0 auto 95px

  .share_button
    min-width: 50%

  #brainlook
    img
      width: 100%

  .modal-body
    padding: 10px

  #about_modal, #reasons_modal
    display: block!important
    opacity: 1
    position: relative
    width: 100%
    overflow-y: hidden
    margin: 0 auto
    .modal-dialog
      -webkit-transform: translate(0, 0)
      -ms-transform: translate(0, 0)
      transform: translate(0, 0)
      margin: 0

  .flip,.scroll-bar
    display: none!important

  #news_pagination
    .viewport
      width: 100%!important
      height: 100%!important
      .overview
        position: initial
