#news_container
  height: 200px
  overflow: auto
  h3
    margin: 0
    border-bottom: 1px solid #DDD

#news_pagination
  height: 150px
  .scroll-bar.vertical
    left: -10px
    width: 5px
    background: #333
    div
      background: yellow
      min-height: 20px
      &:hover, &:active
        background: darken(yellow, 15%)