// Стили новостей и их пагинации

@import colors
@import compass

#news_content
  z-index: 6

#news_container
  article
    padding: 10px 8px
    border-bottom: 1px solid rgba(236, 207, 93, 0.41)

.news_article
  cursor: pointer
  +transition(background, .2s)
  &:hover
    background: lighten($dark_grey, 10%)

#news_evac
  color: #fff
  h4
    margin: 0 0 2px
    color: $orange
  article
    padding: 6px
    background: $dark_grey

#news_pagination
  overflow: hidden
  .scroll-bar.vertical
    left: 0
    width: 4px
    top: 0
    background: #fff
    div
      background: $orange
      min-height: 20px
      cursor: pointer
      +box-shadow(0px 1px 0px 0px rgba(0, 0, 0, 0.5))
      +transition(background, .2s)
      &:hover, &:active
        background: darken($orange,15%)