@import "colors"


#reasons_content
  z-index: 1050

#reasons_modal
  article
    padding: 6px 0
  .modal-content
    background: $blockBackground
    opacity: .95
  .text
    color: #fff

.reason
  .popularity
    color: $orange

#reasons_container
  top: 280px
  border-left: 4px solid $redReasons
  min-height: 200px
  h3
    left: 8px
  article
    padding: 6px 8px
  p
    font-size: 16px

.reload_container
  padding: 35px 0 0 1px

#more_reasons
  position: absolute
  top: 9px
  right: 7px
  cursor: pointer
  color: $orange
  border: 1px solid $orange
  padding: 5px 10px 4px
  &:hover
    color: $blockBackground
    background: $orange