// Стили причин

@import colors
@import compass

#reasons_content
  z-index: 1050

#reasons_modal
  article
    padding: 6px 0
    position: relative
    .share_reason
      margin-left: 0
      right: 10px

  .modal-content
    background: $dark_grey
  h3
    color: $orange
    border-bottom: 1px solid #ECCF5D
    padding-bottom: 5px
  .text
    color: #fff
    font-size: 18px

.reason
  &:hover
    .share_reason
      display: block
  .popularity
    color: $orange
    font-size: 14px!important

.share_reason
  display: none
  background: $dark_grey
  position: absolute
  top: 50%
  width: 90px
  text-align: center
  margin: -14px 0 0 -45px

.share_reason, #more_reasons
  cursor: pointer
  color: $orange
  border: 1px solid $orange
  padding: 0 8px
  height: 27px
  line-height: 25px
  +transition(all, .2s)
  &:hover
    color: $dark_grey
    background: $orange

#reasons_container
  top: 280px
  border-left: 4px solid $red
  min-height: 120px
  h3
    left: 8px
  article
    padding: 4px 8px
    position: relative
  .share_reason
    left: 50%
  p
    font-size: 16px

.reload_container
  padding: 45px 0 6px 1px

#more_reasons
  position: absolute
  top: 7px
  right: 7px
  &.loading
    background: lighten($dark_grey, 15%)
    cursor: default
  img
    position: absolute
    width: 26px
    top: 0
    left: 50%
    margin-left: -13px

#reasons_loader
  position: absolute
  top: 6px
  right: 25px
  img
    width: 35px
    height: 35px