// Стили причин

@import "colors"

#reasons_content
  z-index: 1050

#reasons_modal
  article
    padding: 6px 0
  .modal-content
    background: $dark_grey
    opacity: .95
  .text
    color: #fff

.reason
  .popularity
    color: $orange

#reasons_container
  top: 280px
  border-left: 4px solid $red
  min-height: 200px
  h3
    left: 8px
  article
    padding: 6px 8px
  p
    font-size: 16px

.reload_container
  padding: 35px 0 0 1px

#more_reasons
  position: absolute
  top: 10px
  right: 7px
  cursor: pointer
  color: $orange
  border: 1px solid $orange
  padding: 0 8px
  height: 29px
  line-height: 27px
  &:hover
    color: $dark_grey
    background: $orange