#widget_holder
  margin-top: 25px
  iframe
    min-height: 200px
    margin: 0 auto
    min-width: 50%
    max-width: 90%

#get_random_container
  margin: 10px 0 0

//TODO: разобраться с названиями файлов цсс