// Стили соц кнопок в модульном окошке "рассказать"

@import "colors"

#social_container
  margin: 15px 0 0

.share_button
  display: inline-block
  padding: 10px
  cursor: pointer
  &:hover
    text-decoration: none
    color: #fff
    background: lighten($dark_grey, 10%)
  &.error_share
    opacity: 0.4
    cursor: default
  .social_icon
    float: left
  .arrow-right
    float: right
    margin: 8px 0 0
  a
    padding: 0 8px
    line-height: 41px
    text-transform: uppercase
    font-size: 12px
    font-family: 'Pancetta Pro'
    &:hover
      text-decoration: none