=render 'menu'

.container-fluid
  .row
    .col-md-10
      %h1
        Статистико!
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th
                Нажатия по "валить"
              %th
                Нажатия по "VK"
              %th
                Нажатия по "TW"
              %th
                Нажатия по "FB"
              %th
                Нажатия по "Brainlook"
          %tbody
            %tr
              %td
                =@stats.people_left
              %td
                =@stats.shares_vk
              %td
                =@stats.shares_tw
              %td
                =@stats.shares_fb
              %td
                =@stats.shares_bl